<div class="solution">
<mat-card class="center">
<p>
    <a href="/profile"><mat-icon matPrefix >face</mat-icon></a>
    <mat-label style="font-size:20px; text-align:center">Profile</mat-label>
</p>
<mat-toolbar>
    <a href="/login"><mat-icon matPrefix >keyboard_backspace</mat-icon></a>
    <mat-label style="font-size:20px; text-align:center">Payment History</mat-label>
</mat-toolbar>
<p>
<mat-card>
<input type="text" placeholder="Search..">
</mat-card><p>
  
<div fxLayout="row" fxLayout.xs="column">
        
             
<mat-card fxFlex="100%;" fxFlex.xs="100%">
                  
<md-card-content>
<h6><img [src]= "imageUrl" alt="tick mark" style="width:30px;height:30px">RECEIVED AMOUNT Rs 15,000 </h6>
          </md-card-content></mat-card>
    
    </div>
    <br>
<div fxLayout="row" fxLayout.xs="column">

          <mat-card fxFlex="100%;" fxFlex.xs="100%">
          <md-card-content>
              <h6><img [src]= "imageUrl" alt="tick mark" style="width:30px;height:30px">RECEIVED AMOUNT Rs 15,000 </h6>
          </md-card-content></mat-card>
        
   </div>
      <br>
    <div fxLayout="row" fxLayout.xs="column">
      
          <mat-card fxFlex="100%;" fxFlex.xs="100%">
          <md-card-content>
              <h6><img [src]= "imageUrl" alt="tick mark" style="width:30px;height:30px">RECEIVED AMOUNT Rs 15,000 </h6>
          </md-card-content></mat-card>
      
    </div>

      
  
    
  
  
  
  
  
  
  